<a href="https://colab.research.google.com/github/TarekSamna/TarekSamna/blob/main/DataIntegrationANDManipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INF5111 - Travail Pratique 1


## Instructions

* Faites le travail en équipe deux ou trois étudiants.
* La remise du code se fait par Moodle.
* La présentation du code est évaluée.

## Contexte

Le but du travail est d'aller chercher des informations sur des vols à partir de différents sets de données externe. Deux étapes majeures sont établies dans le travail :

* Combinaison des différentes sources d'information dans un seul Dataframe pandas.
* Extraire des informations pertinentes sur les vols.

# Partie 1 - Reconstruction des données

Nous voulons avoir des données sur des vols aérien et leurs prix. Malheureusement l'information est séparé entre différente sources. Une partie de l'information est sur une base de donnée SQL et une autre est détenu dans un fichier CSV. Notre première étape est de consolider les deux pour avoir des données complète pour analyse.

## Base de donnée postgres

Deux tables sont disponible dans une base de données Postgres. Les informations de connection sont les suivantes:

* user : inf5111
* password : inf5111
* database : inf5111tp1
* host : hololink.org
* tables : flight, airline

Vous devez vous connecter à la base de données, importer et fusionnez les informations des deux tables dans un Dataframe de pandas.

In [ ]:
# Connexion à la base de donnée

import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('postgresql://inf5111:inf5111@hololink.org/inf5111tp1')
flight_Number = pd.read_sql_table('flight', engine)
airline = pd.read_sql_table("airline",engine)
flight_SQL = pd.merge(flight_Number,airline, left_on=['airlineid'], right_on=["airlineid"])
flight_SQL

,flightid,airlineid,datejourney,Source,Destination,Total_Stops,name
0,0,0,24/03/2019,Banglore,New Delhi,non-stop,IndiGo
1,3,0,12/05/2019,Kolkata,Banglore,1 stop,IndiGo
2,4,0,01/03/2019,Banglore,New Delhi,1 stop,IndiGo
3,11,0,18/04/2019,Kolkata,Banglore,non-stop,IndiGo
4,14,0,24/04/2019,Kolkata,Banglore,non-stop,IndiGo
...,...,...,...,...,...,...,...
10678,6591,10,21/03/2019,Delhi,Cochin,1 stop,Multiple carriers Premium economy
10679,6601,10,21/03/2019,Delhi,Cochin,1 stop,Multiple carriers Premium economy
10680,9249,10,21/03/2019,Delhi,Cochin,1 stop,Multiple carriers Premium economy
10681,9253,10,21/03/2019,Delhi,Cochin,1 stop,Multiple carriers Premium economy
10682,2878,11,6/03/2019,Mumbai,Hyderabad,1 stop,Trujet

## Fichier CSV

Le fichier CSV `prices.csv` est fourni sur le site du cours et doit être ajouté pour le prix de chacun des vols.

Importez le fichier CSV dans un Dataframe et fusionnez le avec vos données précédente pour avoir un dataframe avec l'ensemble des données.

In [ ]:
#Importation du fichier price.csv
from IPython.lib.display import join
from pandas.io.parsers.readers import read_csv
import pandas as pd
flight_Price = read_csv('/content/prices.csv')
flight_Table = pd.merge(flight_SQL,flight_Price, left_on=['flightid'], right_on=["flightID"])
flight_Table = flight_Table.drop('flightID',1)
flight_Table

<ipython-input-3-3417044cd318>:7: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  flight_Table = flight_Table.drop('flightID',1)

,flightid,airlineid,datejourney,Source,Destination,Total_Stops,name,Price
0,0,0,24/03/2019,Banglore,New Delhi,non-stop,IndiGo,3897
1,3,0,12/05/2019,Kolkata,Banglore,1 stop,IndiGo,4174
2,4,0,01/03/2019,Banglore,New Delhi,1 stop,IndiGo,4804
3,11,0,18/04/2019,Kolkata,Banglore,non-stop,IndiGo,4377
4,14,0,24/04/2019,Kolkata,Banglore,non-stop,IndiGo,5894
...,...,...,...,...,...,...,...,...
10678,6591,10,21/03/2019,Delhi,Cochin,1 stop,Multiple carriers Premium economy,13029
10679,6601,10,21/03/2019,Delhi,Cochin,1 stop,Multiple carriers Premium economy,14571
10680,9249,10,21/03/2019,Delhi,Cochin,1 stop,Multiple carriers Premium economy,10782
10681,9253,10,21/03/2019,Delhi,Cochin,1 stop,Multiple carriers Premium economy,8073
10682,2878,11,6/03/2019,Mumbai,Hyderabad,1 stop,Trujet,9941

# Partie 2 - Analyse des données

Avec les données complètes, on veut trouvez les informations suivantes suite à des analyses:

* Le prix minimum, maximum et moyen de tous les vols.
* Le nom du airline qui fournit les vols (en moyenne) le moins cher.
* Le prix moyen par airline des vols.
* Le nombre de vols de chaque airline.
* La destination qui reçoit le plus grand nombre de vols.

Note : Pour chaque réponse, le résultat affiché doit être facilement lisibile indépendament de la grandeur des données. Par exemple, utiliser un `describe` est correct car celui-ci donne un nombre de résultat identique indépendament du nombre de donnée. Comme contre-exemple, si le nombre de résultat implique une ligne pour chaque airline, vous devez faire en sorte que le résultat voulu soit le seul visible ou le premier en tête de liste.

In [ ]:
# Le prix minimum, maximum et moyen de tous les vols
print('Le prix minimum est :',flight_Table.Price.min())
display(flight_Table.Price.max())
display(flight_Table.Price.mean())

Le prix minimum est : 1759

79512

9087.064120565385

In [ ]:
# Le nom du airline qui fournit des vols le moins cher
#from pandas.core.reshape.merge import groupby
df= flight_Table.groupby(["name"])['Price'].mean()
display(df.sort_values().head(1))

name
Vistara Premium economy    5749.666667
Name: Price, dtype: float64

In [ ]:
# Le prix moyen par airline des vols
df1= flight_Table.groupby(["name"])['Price'].mean()
df1

name
Air Asia                              9002.003135
Air India                             9064.934361
GoAir                                 9502.288660
IndiGo                                9145.208475
Jet Airways                           9041.464796
Jet Airways Business                  8742.000000
Multiple carriers                     9225.031773
Multiple carriers Premium economy    13622.076923
SpiceJet                              8959.300733
Trujet                                9941.000000
Vistara                               8947.749478
Vistara Premium economy               5749.666667
Name: Price, dtype: float64

In [ ]:
# Le nombre de vols de chaque airline
df2= flight_Table.groupby(["name"])['flightid'].count()
df2

name
Air Asia                              319
Air India                            1752
GoAir                                 194
IndiGo                               2053
Jet Airways                          3849
Jet Airways Business                    6
Multiple carriers                    1196
Multiple carriers Premium economy      13
SpiceJet                              818
Trujet                                  1
Vistara                               479
Vistara Premium economy                 3
Name: flightid, dtype: int64

In [ ]:
from sqlalchemy.sql import False_
# La destination qui reçoit le plus grand nombre de vols
Df3= flight_Table.groupby(["Destination"])['flightid'].count()
Df3.sort_values(ascending= False).head(1)

Destination
Cochin    4537
Name: flightid, dtype: int64